body {
    background-color:whitesmoke;
}
.start{
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -20px;

}
.mir:hover{
  transform: scale(1.12);
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.pict {
  margin-left: 20px;
  margin-top: 3px;
}
.pit
{  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: -60px;
  justify-content: space-evenly;
  margin-left: 900px;
}
hr{
  border-bottom: 3px solid black ;
  width: auto;
  background-color: black;
  margin-top: -10px;
}
.top {
  position: sticky;
  top: -10px;
  min-height: 2em;
  background: whitesmoke;
}
h3:hover{
  transform: scale(1.3);
  cursor: pointer;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.audis1{
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    display: flex;
     flex-direction: column;
     padding: 15px;
     color: black;
     font-size: medium;
     margin-top: 50px;
}
.audi1{
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    display: flex;
    flex-direction: row;
    padding: 15px;
    color: black;
    font-size:larger;
}
.m {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    border-left: 2px solid #ccc; 
    margin-left: 20px;
    padding-left: 20px; 
  }
  .fill{
    object-fit:contain;
    width: 600px;
    height: 450px;
}
  .gt40{
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: black;
    font-size: medium;
    margin-top: 150px;
}
  .ford{
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    display: flex;
    flex-direction: row;
    padding: 15px;
    color: black;
    font-size:larger;
}
 .p917{
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: black;
    font-size: medium;
    margin-top: 150px;
}
  .p9171{
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    display: flex;
    flex-direction: row;
    padding: 15px;
    color: black;
    font-size:larger;
}
.mc{
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: black;
    font-size: medium;
    margin-top: 150px;
}
  .laren{
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    display: flex;
    flex-direction: row;
    padding: 15px;
    color: black;
    font-size:larger;
}
.mazda{
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: black;
    font-size: medium;
    margin-top: 150px;
}
  .maz{
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    display: flex;
    flex-direction: row;
    padding: 15px;
    color: black;
    font-size:larger;
}
.mazda{
  font-family: 'Roboto', sans-serif;
  display:inline-block;
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: black;
  font-size: medium;
  margin-top: 150px;
}
.maz{
  font-family: 'Roboto', sans-serif;
  display:inline-block;
  display: flex;
  flex-direction: row;
  padding: 15px;
  color: black;
  font-size:larger;
}
.imsa{
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: black;
    font-size: medium;
    margin-top: 150px;
}
  .gto{
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    display: flex;
    flex-direction: row;
    padding: 15px;
    color: black;
    font-size:medium;
}
.lotus{
  font-family: 'Roboto', sans-serif;
    display:inline-block;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: black;
    font-size: medium;
    margin-top: 150px;
}
.l79 {
  font-family: 'Roboto', sans-serif;
    display:inline-block;
    display: flex;
    flex-direction: row;
    padding: 15px;
    color: black;
    font-size:medium;
}
.fur {
  margin-top: 150px;
}

